{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/beaches-and-hotel.css' %}" />
<link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">

{% endblock %}

{% block title %} Seaside Serenity: Hotels and Beaches in Argao {% endblock title %}


{% block content %}
<main>
	<div>
		<section id="hero">
			<div class="hero__wrapper">
				<div class="overlay"></div>
				<div class="hero__container">
					<h1 class="hero__headline">
						Discover Argao, Cebu: Where <span>Beach And Hotels</span> Dreams Come True
					</h1>
					<p class="hero__subheadline">
						Embark on a Coastal Paradise: Unveiling the Hidden Gems of Argao, Cebu's Spectacular Beaches and
						Luxurious Hotels
					</p>
				</div>
			</div>
		</section>

		<section id="beaches">
			<div class="beaches">
				<h1 class="beaches-headline">Explore the Beautiful Beaches of Argao</h1>
				<div class="beaches__card-wrapper">
					{% for beach in beaches %}
					<div class="beach-card">
						<div class="beach-img-container">
							<img src="data:image/jpeg;base64,{{ beach.image_data }}" alt="culture"
								class="beach-image" />
						</div>
						<div class="beach-info-container">
							<a href="/hotel-beach-details/{{beach.id}}">
								<h1 class="beach-title">{{ beach.name }}</h1>
							</a>
							<p class="beach-desc">{{ beach.description_short }}</p>
							<div class="btn-reserver-container">
								<button class="btn-reserve" beach-id="{{beach.id}}">Reserve</button>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<section id="hotels">
			<div class="hotels">
				<h1 class="hotels-headline">
					Luxurious Accommodations for a Perfect Stay
				</h1>
				<div class="hotels__card-wrapper">
					{% for hotel in hotels %}

					<div class="hotel-card">
						<div class="hotel-img-container">
							<img src="data:image/jpeg;base64,{{ hotel.image_data }}" alt="culture"
								class="hotel-image" />
						</div>
						<div class="hotel-info-container">
							<a href="/hotel-beach-details/{{hotel.id}}">
								<h1 class="beach-title">{{ hotel.name }}</h1>
							</a>
							<p class="hotel-desc">{{ hotel.description_short }}</p>
							<div class="btn-reserver-container">
								<button class="btn-reserve" hotel-id="{{hotel.id}}">Reserve</button>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
	<div class="customer__details-wrapper">
		<div class="customer__details-container">
			<div class="close-container">
				<?xml version="1.0" encoding="utf-8"?>

				<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g id="Menu / Close_MD">
						<path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#000000"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					</g>
				</svg>
			</div>
			<form id="reservation-form">
				<div class="item-reserved-container">
					<div class="choice-img-container">
						<img src="" id="beach-hotel-image" />
						<div class="choice-title-container">
							<h1 class="choice-title"></h1>
						</div>
					</div>
				</div>
				{% csrf_token %}

				<div class="form-group">
					<div>
						<h1 class="reservation-heading">Unlock Your Perfect Stay</h1>
						<h3>Secure Your Spot Today</h3>
					</div>
					<div class="input-group">
						<label for="id_name">Name:</label>
						<input type="text" id="id_name" required name="name">
						<span class="error name-err"></span>
					</div>
					<div class="input-group">
						<label for="id_num_of_guests">Number of guests:</label>
						<input type="number" id="id_num_of_guests" required name="num_of_guests">
						<span class="error num-of-guests-err"></span>
					</div>
					<div class="input-group">
						<label for="id_email">Email:</label>
						<input type="email" id="id_email" required name="email">
						<span class="error email-err"></span>
					</div>
					<div type="text" class="input-group">
						<label for="id_check_in_date">Check-in Date:</label>
						<input type="date" id="id_check_in_date" required name="check_in_date">
						<span class="error check-in-date-err"></span>
					</div>
					<div class="input-group">
						<label for="id_check_out_date">Check-out Date:</label>
						<input type="date" id="id_check_out_date" required name="check_out_date">
						<span class="error check-out-date-err"></span>
					</div>
					<div>
						<button type="submit" class="btn-submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="feedback__wrapper">
		<div class="feedback__container">
			<div class="close-feedback-container">
				<!--?xml version="1.0" encoding="utf-8"?-->

				<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
				<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g id="Menu / Close_MD">
						<path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="#000000"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
					</g>
				</svg>
			</div>
			<p>Your reservation has been successfully submitted. <br>Our team will contact you to confirm the
				details.<br> Have a great day!</p>
		</div>
	</div>
</main>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/beach-and-hotel.js' %}" defer></script>
{% endblock %}